.l-flex
    display: flex
.l-align-center
    align-items: center
.l-flex-wrap
    flex-wrap: wrap
.l-colum
    flex-direction: colum
.l-center
    justify-content: center
.l-space-between
    justify-content: space-between
.l-section
    margin: 32px 0
.l-margin-left-2rem
    margin-left: 2rem !important
.l-margin-left-4rem
    margin-left: 4rem !important
l-footer
    display: flex