@charset "UTF-8";
html {
  font-family: 'Lato', 'Lucida Grande', 'Lucida Sans Unicode', Tahoma, Sans-Serif;
  line-height: 1.5;
  font-size: 15px;
  font-weight: 400; }

body {
  padding: 0;
  margin: 0;
  background: #131417; }

*, *:before, *:after {
  box-sizing: border-box;
  color: #FFFFFF; }

.l-flex {
  display: flex; }

.l-align-center {
  align-items: center; }

.l-flex-wrap {
  flex-wrap: wrap; }

.l-colum {
  flex-direction: colum; }

.l-center {
  justify-content: center; }

.l-space-between {
  justify-content: space-between; }

.l-section {
  margin: 32px 0; }

.l-margin-left-2rem {
  margin-left: 2rem !important; }

.l-margin-left-4rem {
  margin-left: 4rem !important; }

l-footer {
  display: flex; }

.badge　 {
  background: #ffdd40; }

.sidebar-head .side-button {
  color: white;
  background: linear-gradient(115deg, #4fcf70, #fad648, #a767e5, #12bcfe, #44ce7b);
  text-align: center;
  margin: 0 16px;
  border-radius: 4px;
  border: 3px solid transparent; }
  .sidebar-head .side-button .side-button-back {
    display: block;
    background: black;
    padding: 10px;
    width: 100%; }

.header .button-header {
  padding: 8px; }

.header .button-primary {
  background: #47cf73;
  color: black;
  padding: 8px 16px;
  border-radius: 4px;
  margin-right: 8px;
  min-width: 100px;
  text-align: center; }

.header .button-secondry {
  background: #444857;
  color: black;
  padding: 8px 16px;
  border-radius: 4px;
  min-width: 100px;
  text-align: center; }

.hero-footer .button {
  background: #47cf73;
  font-size: 1.4em;
  color: black;
  padding: 8px 16px;
  border-radius: 4px; }

.features .button {
  background: #444857;
  padding: 8px 16px;
  border-radius: 4px; }

.item-footer-button {
  padding: 8px 16px;
  border-radius: 4px;
  border: 3px solid #aaaebc;
  text-align: center; }
  .item-footer-button:first-child {
    margin-right: 4px; }

.button:hover {
  opacity: 0.4;
  cursor: pointer; }

.hero-card {
  width: 495px;
  height: 410px;
  background: linear-gradient(109.61deg, #4c4f5a 4.26%, #202125 84.84%);
  border-radius: 6px;
  margin: 16px auto;
  position: relative; }

.product-item {
  margin: 2rem 1rem;
  width: 360px; }

.item-card {
  background: #2c303a;
  width: 350px;
  border-radius: 4px;
  transition: all 0.3s; }
  .item-card:hover {
    opacity: 0.4s;
    cursor: pointer;
    transform: scale(1.05); }

.item-card-img {
  padding: 8px;
  margin: auto; }
  .item-card-img img {
    width: 330px; }

.item-body {
  padding: 0 16px 16px 16px; }
  .item-body .item-body-text {
    margin: 0; }

.item-icon img {
  width: 40px;
  border-radius: 4px;
  margin-right: 8px; }

.item-title {
  color: white;
  font-weight: bold; }

.item-card-footer {
  margin: 8px 16px; }

.code-card-1 {
  margin-bottom: 8px;
  background: #1d1e22;
  border-radius: 6px;
  width: 300px;
  height: 140px;
  font-size: 13px;
  position: absolute;
  top: -20px;
  right: 30px; }

.code-card-2 {
  margin-bottom: 8px;
  background: #1d1e22;
  border-radius: 6px;
  width: 300px;
  height: 140px;
  font-size: 13px;
  position: absolute;
  top: 130px;
  right: -30px; }

.code-card-3 {
  margin-bottom: 8px;
  background: #1d1e22;
  border-radius: 6px;
  width: 300px;
  height: 140px;
  font-size: 13px;
  position: absolute;
  bottom: -20px;
  right: 30px; }

.code-card-header {
  padding: 4px 8px; }

.code-card-body {
  padding: 0 8px 8px 8px; }

.feature-card {
  padding: 2rem;
  width: 360px;
  background: #2c303a;
  height: 340px;
  border-radius: 6px;
  margin: 2rem 1rem;
  transition: all 0.3s;
  position: relative; }

.feature-icon {
  position: absolute;
  background: black;
  top: -32px;
  left: 16px;
  height: 64px;
  width: 64px;
  border-radius: 6px;
  text-align: center; }
  .feature-icon .fas {
    font-size: 48px;
    position: absolute;
    top: 8px;
    left: 8px; }

.footer {
  background: black; }

.hero-part {
  width: 50%;
  padding: 32px; }

.code-pard {
  width: 50%; }

.sidebutton-logo {
  margin: 0 16px;
  width: 154px;
  padding: 0; }

.hero-logo {
  font-size: 2rem; }

.footer-logo {
  font-size: 2rem; }

.search-form {
  background: #252830;
  padding: 8px;
  margin: 8px;
  border-radius: 4px;
  width: 100%; }

.search-form-input {
  background: #252830;
  margin-left: 16px;
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  border: 0; }

.sidebar {
  background: #1F1F26;
  min-width: 188px; }

.sublist a:hover {
  background: black; }

.sidebar p {
  margin: 0; }

.sidebar li {
  list-style: none; }

.sidebar a {
  color: #b7bbc8; }

.sidebar .side-title {
  font-weight: bold;
  font-size: 2.0em;
  text-align: center; }

.sidebar .start-text {
  color: #b7bbc8;
  font-size: 0.8em;
  text-align: center;
  margin: 0.2em; }

.sidebar .side-button a {
  color: white; }

.sidebar .title-warning {
  color: #ffdd40;
  font-size: 15px; }

.sidebar .title-primary {
  color: #47cf73;
  font-size: 15px; }

.sidebar .title-secondry {
  color: #0ebeff;
  font-size: 15px; }

.sidebar .sublist {
  padding: 0; }
  .sidebar .sublist h2 {
    padding-left: 16px; }
  .sidebar .sublist a {
    padding-left: 16px;
    color: white;
    display: block; }
    .sidebar .sublist a:hover {
      background: black;
      cursor: pointer; }

.sidebar .sidebar-index {
  padding: 0; }
  .sidebar .sidebar-index a {
    padding-left: 16px;
    display: block; }
    .sidebar .sidebar-index a:hover {
      background: black;
      cursor: pointer; }

.search-form i {
  font-size: 20px; }

.hero h1 {
  margin: 0; }

.hero .hero-title {
  font-size: 3.0rem; }

.code-part p {
  margin: 0; }

.code-card-header p {
  margin: 0;
  margin-left: 8px; }

.code-card-header .fas {
  color: #b7bbc8; }

.cursor {
  animation: blink 1s infinite; }

.highlight-orange {
  color: #a88038; }

.highlight-being {
  color: #e1ca72; }

.highlight-green {
  color: #74b087; }

.highlight-purple {
  color: #9f8198; }

.highlight-blue {
  color: #7a99ad; }

.features .feature-title {
  font-size: 1.5em; }

.features .feature-sentense {
  color: #b7bbc8; }

.item-body-text p {
  margin: 0; }

.item-title {
  font-size: 1.07em; }

.item-text {
  color: #b7bbc8; }

.item-footer {
  padding: 8px 16px; }
  .item-footer p {
    margin: 0; }

.item-card-info {
  background: black;
  padding: 2px 4px;
  margin-right: 4px;
  border-radius: 4px; }

.footer {
  padding: 32px; }
  .footer .footer-contents .title {
    font-weight: bold;
    color: white;
    margin-right: 1rem; }
  .footer .footer-contents li {
    color: #b7bbc8;
    list-style: none;
    margin-right: 1rem; }
  .footer .footer-logo {
    color: white; }
  .footer p, .footer small {
    color: #b7bbc8;
    margin: 0; }
  .footer .credit-text {
    margin: 15px 0; }

.accent {
  color: #0ebeff; }

.bs {
  margin-bottom: 2em; }
