.sidebar-head
    .side-button
        color: white
        background: $sidebar-logo
        text-align: center
        margin: 0 16px
        border-radius: 4px
        border: 3px solid transparent
        .side-button-back
            display: block
            background: black
            padding: 10px
            width: 100%

.header
    .button-header
        padding: 8px
    .button-primary
        background: $primary
        color: black
        padding: 8px 16px
        border-radius: 4px
        margin-right: 8px
        min-width: 100px
        text-align: center
    .button-secondry
        background: $secondry
        color: black
        padding: 8px 16px
        border-radius: 4px
        min-width: 100px
        text-align: center
        
        


.hero-footer
    .button
        background: $primary
        font-size: 1.4em
        color: black
        padding: 8px 16px
        border-radius: 4px


.features
    .button
        background: $secondry
        padding: 8px 16px
        border-radius: 4px


.item-footer-button
        padding: 8px 16px
        border-radius: 4px
        border: 3px solid $border
        text-align: center
        &:first-child
            margin-right: 4px

.button
    &:hover
        opacity: 0.4
        cursor: pointer