.sidebar
    .side-title
        font-weight: bold
        font-size: 2.0em
        text-align: center
    .start-text
        color: $sentense-color
        font-size: 0.8em
        text-align: center
        margin: 0.2em
    .side-button
        a
            color: white
    .title-warning
        color: $warning
        font-size: 15px
    .title-primary
        color: $primary
        font-size: 15px
    .title-secondry
        color: $accent
        font-size: 15px
    li
        list-style: none
    a
        color: $sentense-color
    .sublist
        padding-left: 16px
        a
            color: white
            &:hover
                cursor: pointer
    .sidebar-index
        padding-left: 16px
        a
            &:hover
                cursor: pointer

.search-form
    i
        font-size: 20px

.hero
    h1
        margin: 0
    .hero-title
        font-size: 3.0rem

.features
    .feature-title
        font-size: 1.5em
    .feature-sentense
        color: $sentense-color

.item-body-text
    p
        margin: 0
.item-title
    font-size: 1.07em
.item-text
     color: $sentense-color
.item-footer
    padding: 8px 16px
    p
        margin: 0
.item-card-info
    background: black
    padding: 2px 4px
    margin-right: 4px
    border-radius: 4px



.footer
    padding: 32px
    .footer-contents
        .title
            font-weight: bold
            color: white
            margin-right: 1rem
        li
            color: $sentense-color
            list-style: none
            margin-right: 1rem
    .footer-logo
        color: white
    p, small
        color:  $sentense-color

.accent
    color: $accent